
.card{
    flex: 0 0 calc(33.33% - 20px); /* 3 items in each row */
    text-align: center;
    padding: 20px;
    background-color: #fff; /* White card background */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardImage{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  
}
.card--title{
    font-size: 16px;
    margin-bottom: 5px;
}
.card--desc{
    font-size: 14px;
    color: #3b3a3a;
}