

.App {
  text-align: center;
  margin:  1rem auto;
  max-width: 400px;
  height:100vh;
  overflow:hidden;
  flex-direction: column;
  border-radius: 8px;
  }

.container{
  display: flex;
  height: 40vh;
  flex-direction: column;
  text-align: center;
  background-color: #b4d6ec; /* Light blue background color */
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  gap: 10px; 
}
.h1{
  font-size: 18px;
}

